<div class="nav">
  <a href="#" ng-click="toggle()" class="navicon">
    <i class="ion ion-navicon"></i>
  </a>
  <div class="menu" ng-class="{active: display == true}">

    <a href="#" ng-click="close()" class="naviclose">
      <i class="ion ion-android-close"></i>
    </a>

    <a href="/" ng-click="close()" class="brand"></a>

    <a href="/" ng-click="close()">Home</a>
    <a href="work" ng-click="close()">Our Work</a>
    <a href="services" ng-click="close()">Our Services</a>
    <a href="about" ng-click="close()">About Us</a>
    <a href="notes" ng-click="close()">Notes</a>

    <a href="chat" ng-click="close()" class="chat">
      <i class="ion ion-android-chat"></i> <span>Let's Chat</span>
    </a>

  </div>

</div>
