---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.data.settngs.title}}</title>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <!-- <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}"> -->
  <link rel="stylesheet" href="/assets/css/chico.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

{% include nav.html %}

<div class="wrap">

  <div class="why">
    <h1>We believe that those ideas <br> should be empowered.</h1>
    <img src="/assets/img/bg-why.jpg" alt="We believe that those with ideas should be empowerd.">
  </div>

  <div class="what">
    <h1>We build MVPs, design identities <br> and build websites.</h1>
    <img src="/assets/img/bg-what.jpg" alt="We build MVPs, design identities and build websites.">
  </div>

  <div class="who">
    <h1>We're A Vivid Visual.<br>
    Let's visualize your ideas.</h1>
    <a href="#" class="button">Chat With Us</a>
    <img src="/assets/img/bg-who.jpg" alt="We're A Vivid Visual. Let's visualize your ideas.">
  </div>

</div>


{% include footer.html %}

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
