<footer>
	<div class="contact">
		<strong>A Vivid Visual</strong>
		<div class="info">
			<p><i class="fa fa-map-marker icon-space"></i> 77 Van Ness Ave., Ste. 101<br>
			<span class="icon-space"></span> San Francisco, CA 94102</p>
			<p><i class="fa fa-envelope icon-space"></i> hello@avividvisual.com</p>
			<p><i class="fa fa-phone icon-space"></i> (415) 230-1378</p>
		</div>
	</div>

	<div class="links">
		<ul>
			{% for link in site.data.settings.menu %}
				<li><a href="{{ link.url }}">{{ link.name }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="social">
		<a href="http://www.twitter.com/avividvisual/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
		<a href="http://www.facebook.com/avividvisual/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
		<a href="http://www.pinterest.com/avividvisual/" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a>
		<a href="http://www.github.com/avividvisual/" target="_blank" class="github"><i class="fa fa-github"></i></a>
		<a href="http://www.behance.net/avividvisual/" target="_blank" class="behance"><i class="fa fa-behance"></i></a>
		<p class="copy">© {{ site.time | date: '%Y'}} A Vivid Visual. All Rights Reserved</p>
	</div>
</footer>
