<nav>
	<div class="container">
		<div class="brand">
		</div>
		<div class="nav-menu">
			<a href="http://bit.ly/avv-mail" target="_blank"><i class="fa fa-map-marker icon-space"></i><span>77 Van Ness Ave., Ste 101, San Francisco, CA 94115</span></a>

			<a href="mailto:hello@avividvisual.com" target="_blank"><i class="fa fa-envelope icon-space"></i><span>hello@avividvisual.com</span></a>

			<a href="tel:415-230-1378"><i class="fa fa-phone icon-space"></i><span class="tel">(415) 230-1378</span></a>
		</div>

		<!-- <div class="toggle">
			<a href="#">☰</a>
		</div>
		<div class="menu">
			{% for link in site.data.settings.menu %}
				<a href="{{ link.url }}">{{ link.name }}</a></li>
			{% endfor %}
		</div> -->
	</div>
</nav>
