html
  overflow-x: hidden

body
  background: darken(#59929e, 35%)
  color: #fff
  font-family: 'Open Sans', sans-serif
  font-size: 14px
  webkit-font-smoothing: antialiased
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)

a
  text-decoration: none
  color: #fff
  &:hover
    border-bottom: 2px solid #d18ba7

h1
  width: 100%
  display: block

p
  font-weight: normal

main
  padding: 0 30px

.main
  padding: 20vh 0
  @include susy-breakpoint(1024px, $susy)
    @include span(10)
    @include push(1)
  h1
    text-transform: uppercase
    font-size: 2.7em
    font-weight: 700
    line-height: 1.2
    @media (min-width: 1024px)
      font-size: 5em
  p
    font-size: 18px
    font-weight: 400
