$nav-height: 40px
nav
  display: block
  min-width: 100%
  height: $nav-height
  z-index: 200
  background: #fff
  font-size: 14px
  line-height: $nav-height
  @extend .container
  position: fixed

.brand, .menu
  display: inline-block

.brand
  background: url('../img/logo-avv-min.gif') no-repeat
  width: 72px
  height: 21px
  margin-top: 10px
  margin-left: -20px
  @media (min-width: 600px)
    background: url('../img/logo-avv-full.gif') no-repeat
    width: 220px

.menu
  display: none
  @media (min-width: 568px)
    display: block
    float: right
    text-transform: uppercase
    a
      margin-left: 20px
