.wrap
  background: $font-color

$section-height: 100vh
.section
  min-height: $section-height
  color: #fff
  width: 100%
  margin: 0px
  text-align: center


.why, .what, .who
  position: relative
  overflow: hidden
  @extend .section
  h1
    padding-top: $section-height/2.5
    position: relative
    z-index: 2
  img.background
    position: absolute
    top: 0
    left: 0
    width: auto
    height: 100%
    opacity: 0.5

// WHY SECTION

.why
  img.background
    left: -325px
    opacity: 0.8
    @media (min-width: 568px)  // mobile landscape
      width: 100%
      height: auto
      left: 0
    @media (min-width: 768px) // tablet portrait
      width: auto
      height: 100%
      left: -60%
    @media (min-width: 1024px) // tablet landscape
      width: 120%
      height: auto
      left: -10%

// WHAT SECTION


.what
  height: auto
  padding-bottom: 100px
  h1
    padding-top: 100px
    margin-bottom: 50px
  img.background
    @media(min-width: 1024px)
      width: 100%
      height: auto

.logos
  max-width: 920px
  display: block
  margin: 0 auto
  position: relative
  z-index: 5

img.logo
  max-width: 300px
  height: auto

.logo:nth-child(2)
  margin-top: -50px


// WHO SECTION


.who
  h1
    padding-top: 0
    margin-top: 50% // For mobile (portrait)
    @media (min-width: 568px) // For tablet - portrait
      margin-top: 15%
    @media (min-width: 768px)
      margin-top: 50%
    @media (min-width: 800px) // For tablet - landscape
      margin-top: 20%
  img.background
    opacity: 0.3
    @media (min-width: 568px)  // mobile landscape
      width: 100%
      height: auto
    @media (min-width: 768px) // tablet portrait
      width: auto
      height: 100%
    @media (min-width: 1024px)
      width: 120%
      height: auto

a.button
  z-index: 2
  position: relative
  margin: 30px 0
  display: inline-block
  border: 1px solid #fff
  border-radius: 5px
  color: #fff
  font-size: 1.4em
  font-weight: normal
  padding: 10px 60px
  &:hover
    background-color: $brand-color
    border-color: $brand-color
