.wrap
  background: $font-color

$section-height: 100vh
.section
  min-height: $section-height
  color: #fff
  width: 100%
  margin: 0px
  text-align: center


.why, .what, .who
  position: relative
  overflow: hidden
  @extend .section
  h1
    padding-top: $section-height/2.5
    position: relative
    z-index: 2
  img.background
    display: none
    position: absolute
    top: 0
    left: 0
    background-size: cover
    opacity: 0.5

// WHY SECTION
.why
  background: url('../img/bg-why.jpg')
  background-size: cover
  background-position: top center

i.chevron
  font-size: 3em
  margin-top: 10px


// WHAT SECTION
.what
  background: url('../img/bg-what.jpg')
  background-size: cover
  background-position: top center

  h1
    padding-top: 100px
    margin-bottom: 50px

.logos
  max-width: 920px
  display: block
  margin: 0 auto
  position: relative
  z-index: 5

img.logo
  max-width: 300px
  height: auto

.logo:nth-child(2)
  margin-top: -50px


// WHO SECTION
.who
  background: url('../img/bg-who.jpg')
  background-size: cover
  background-position: top center
  h1
    padding-top: 0
    margin-top: 50% // For mobile (portrait)
    @media (min-width: 568px) // For tablet - portrait
      margin-top: 15%
    @media (min-width: 768px)
      margin-top: 50%
    @media (min-width: 800px) // For tablet - landscape
      margin-top: 20%

  span
    position: relative
    z-index: 2
    font-style: italic

a.hello
  color: $brand-color
  &:hover
    color: #fff
    font-weight: bold

a.avv-button
  z-index: 2
  position: relative
  margin: 30px 0
  display: inline-block
  border: 2px solid #fff
  border-radius: 5px
  color: #fff
  font-size: 1.4em
  font-weight: normal
  padding: 10px 60px
  background-color: rgba(187,122,147, 0.3)
  &:hover
    background-color: $brand-color
    border-color: $brand-color
